.tm-bix_process-create_menu {
    display: none;
    background-color: #fff;
}
.tm-bix_process-create_menu.tm-bix_process-show {
    display: block;
}
.tm-bix_process-create_menu.tm-bix_process-show .microblog-top-tabs-visible {
    visibility: hidden;
    height: 0;
}